html,
body {
  height: 100%;
}

#dashboard-container {
  padding-bottom: 70%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#footer-container {
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dashboard-container {
  overflow: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* REFER CHILD PAGE */
/* Header Section */
.refer-child-container {
  font-family: "Dosis", sans-serif;
}

.refer-child-header {
  border-bottom: 15px solid #fca40e;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.refer-child-header h2 {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  top: 320px;
  left: 40.5%;
  color: #fca40e;
}

/* Need to Know Section */
.to-know {
  padding-top: 94px;
  padding-left: 398px;
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.to-know-text {
  width: 72%;
  margin-top: 42px;
  padding-left: 398px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 70px;
}

/* Eligibility Section */
.eligible-container {
  background: #f4f7fd;
}

.eligible-header-text {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  padding-left: 170px;
  margin-bottom: 59px;
  margin-top: 107px;
}

.eligible-image {
  width: 711px;
  height: 520px;
}

#eligible-image-one {
  margin-left: 10px;
}

.referrals-from-container {
  display: flex;
  flex-direction: row;
  background: #f4f7fd;
}

.eligible-requirements-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding-left: 245px;
  line-height: 180%;
}

/* What to Expect Section */
.what-to-expect-container h2 {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 48px;
  margin-top: 74px;
  text-align: center;
}

.what-to-expect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 0px 100px;
}

.expect-step {
  width: 291px;
  height: 256px;
  text-align: center;
}

.expect-step p:first-child {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-top: 16px;
}

.expect-step {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 42px;
}

#expect-text-one {
  padding-top: 37px;
}

#expect-text-two {
  padding-top: 37px;
}

#expect-text-three {
  width: 295px;
}

.refer-child-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: white;
  width: 230px;
  height: 64px;
  background: #4dac79;
  border-radius: 8px;
  border: 2px solid #4dac79;
  margin-left: 606px;
  margin-top: 65px;
}

.refer-child-button:hover {
  background: white;
  color: #4dac79;
  border: 2px solid #4dac79;
  transition: all 500ms ease;
  text-decoration: none;
}

.honor-code-container {
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.honor-code-text {
  width: 100%;
  margin-top: 58px;
  margin-bottom: 63px;
  width: 679px;
}

@media screen and (min-width: 700px) {
  .refer-child-header-text {
    font-size: 30pt;
    font-weight: bold;
    width: 55%;
    padding: 100px;
  }
  .eligible-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .eligible-text {
    width: 50%;
  }
  .eligible-children {
    text-align: left;
    font-size: 13pt;
  }
  .eligible-requirements-list {
    text-align: left;
    margin-left: -60px;
    font-size: 14pt;
  }
  .accept-referrals-from {
    font-size: 20pt;
  }
  .referrals-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14pt;
    column-gap: 7%;
  }
  .refer-child-button {
    width: 15%;
  }
}

/* REFFERRAL FORM PAGE */
.referral-form {
  letter-spacing: 0em;
  text-align: center;
  color: #ea6f39;
  width: 109.82px;
  height: 41px;
  margin-left: 133px;
  margin-top: 50px;

  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  text-align: center;

  color: #ea6f39;
}

.recipient-info {
  width: 217px;
  height: 31px;
  margin-left: 79px;
  top: 104px;

  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140.62%;

  text-align: center;

  color: #000000;
}

.child-form-line-break {
  width: 214px;
  height: 0px;
  left: 81px;
  top: 176px;
  border: 1px solid #1f4fab;
}

.avatar-container {
  margin-top: 30px;
}

.avatar-container-items {
  text-align: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-left: 123px;
  top: 219px;

  border: 2px solid #1f4fab;
  box-sizing: border-box;
}

.add-avatar-sign {
  padding-left: 68.67%;
  padding-right: 34.4%;
  padding-top: 50.73%;
  color: #ea6f39;
}

.select-avatar {
  width: 214px;
  height: 20px;
  margin-left: 81px;
  margin-top: 20px;
  top: 372px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;

  color: #000000;
}

input .child-form-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 16px 0px 0px;

  width: 217px;
  height: 44px;
  left: 79px;
  top: 456px;

  background: #ffffff;
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 5.5px;
}

.recipient-details-text {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.recipient-details-text-light {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}
.sort-filter-text {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}
.account-side-text {
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}
.overview-side-text {
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.all-recipients-text {
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}
.add-child-button {
  background: #ea6f39;
  font-family: Paytone One;
  src: url(PaytoneOne-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-size: 19.125px;
  color: #ffffff;
}
.header-text {
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-bold {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-links {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.copyright {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.newsletter-signup {
  font-family: Dosis;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}
.newsletter-filler {
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.email-newsletter {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
