/* UNIVERSAL STYLING */
p {
    font-family: 'Open Sans', sans-serif;
}

Button {
    font-family: 'Paytone One', sans-serif;
    border-radius:px;
}

/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

/* hero section */
.home-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Paytone One', sans-serif;
    height: 16rem;
    background-image: url('./Images/home-hero.jpeg');
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hero-button {
    background-color: #FCA40E;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: none;
    margin: 1.5rem;
}

.home-hero h1{
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

/* mission section */
.home-mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-logo {
    max-width: 50%;
    margin-top: 15px;
    transform: matrix(1, 0.08, -0.07, 1, 0, 0);
}
.home-mission h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.home-mission p {
    margin-top: 15px;
    width: 70%;
    font-size: .9rem;
    padding: 0;
}

.green-button {
    background-color: #4DAC79;
    border: none;
}

/* How does it work section */
.howto-expandable {
    position: relative;
    background-color: #437CE6;
    height: 4rem;
    width: 100%;
}
.home-howto h1 {
    color: white;
    font-family: Dosis, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    height: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.expandable-arrow {
    position: absolute;
    right: 85px;
    top: 1.5rem;
    width: 1.5rem;
}

.orange-button {
    margin: 10px 0;
    width: 35%;
    background-color: #EA6F39;
    border: none;
    font-size: 1rem;
}

.home-howto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.howto-step {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    margin-top: 20px;
    width: 100%;
}

.howto-text {
    width: 70%;
    font-size: 1rem;
}

.stepNo {
    font-family: Dosis, sans-serif;
    font-weight: 600;
    color: #4DAC79;
    font-size: 1.5rem;
    margin-left: 15px;
}

.howto-text p:first-child {
    font-weight: 600;
    margin: 0 0 5px 0;
}

