.group-67 {
  align-items: flex-end;
  display: flex;
  min-width: 1478px;
  padding: 0px 0;
}
.overlap-group {
  align-items: flex-end;
  background-image: url(../Images/wishlist.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 368px;
  justify-content: flex-end;
  min-width: 1476px;
  width: 100%;
  padding: 73.3px 630px;
}
.title {
  height: 59px;
  letter-spacing: 0px;
  line-height: 50.4px;
  min-height: 59px;
  text-align: center;
  white-space: nowrap;
  width: 180px;
}
@import url("https://fonts.googleapis.com/css?family=Dosis:400,500,600|Open+Sans:400,700,600,800|Paytone+One:400|Libre+Franklin:600|Mulish:400,600");
.dosis-semi-bold-monza-56px {
  color: var(--monza);
  font-family: var(--font-family-dosis);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
:root {
  --font-family-dosis: "Dosis", Helvetica;
  --font-size-m: 56px;
  --monza: rgba(219, 9, 9, 1);
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
